<app-breadcrumb [links]="[{label: 'Produtos', url: '/produtos'}, {label: product.name | camelCase}]"></app-breadcrumb>
<app-scroll-top></app-scroll-top>


<section id="s-productSingle" class="section">
  <div class="container">

    <!-- Detalhes do produto -->
    <div class="row justify-content-center gy-5">

      <!-- Imagens -->
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <img [src]="product.images[0]" [alt]="product.name | camelCase" class="img-view">
        <button
          class="btn btn-outline-primary d-flex align-items-center justify-content-center w-100 mt-3"
          data-bs-toggle="modal"
          data-bs-target="#producImages"
        >
          Ver todas as imagens <span class="material-icons ms-2">add</span>
        </button>
      </div>

      <!-- Descrição e ações -->
      <div class="col-12 col-lg-6">

        <header class="row gy-3 justify-content-between">
          <!-- Nome do produto e caregoria -->
          <div class="col-auto">
            <h1 class="text-primary mb-0">{{ product.name | camelCase }}</h1>
            <small>Categoria: <strong class="text-capitalize">{{ product.category }}</strong></small>
          </div>
          <!-- Fazer o orçamento -->
          <div class="col-auto">
            <button class="btn btn-primary d-flex align-items-center text-uppercase ms-lg-auto rounded-pill">
              Fazer Orçamento <span class="material-icons ms-2">attach_money</span>
            </button>
          </div>
        </header>

        <!-- Descrição -->
        <div class="mt-5">
          <h2 class="border-bottom">Descrição</h2>
          <p class="text-in-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur dui sem,
            eget ullamcorper purus rhoncus ac. In hac habitasse platea dictumst.
            Curabitur venenatis vitae mi vitae euismod. Nulla in ante dictum, ultricies lacus et, sollicitudin ex.
          </p>
        </div>
      </div>

    </div>

    <!-- Produtos relacionados -->
    <!-- <div class="row mt-5">
      <header class="section-header">
        <div class="section-title">Relacionados</div>
        <h1>Mais produtos que podem lhe interessar</h1>
      </header>
    </div> -->

  </div>

</section>

<!-- Modal para exibir a imagem em tela cheia -->
<div class="modal fade" id="producImages" tabindex="-1" aria-labelledby="producImages" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

      <header class="modal-header">
        <h5 class="modal-title" id="producImages">{{ product.name | camelCase }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </header>

      <!-- Exibição das imagens em carousel -->
      <!-- *IMPORTANTE: A partir da imagem(.img-slide) todos os containers pais até o modal-body, tudo deve ter .h-100 -->
      <div class="modal-body">
        <div class="carousel carousel-dark slide h-100" data-bs-ride="carousel" id="carouselProducts">

          <!-- Indicadores -->
          <ol class="carousel-indicators">
            <li
              *ngFor="let image of product.images; index as i"
              [class.active]="i === 0"
              data-bs-target="#carouselProducts"
              [attr.data-bs-slide-to]="i"
            ></li>
          </ol>

          <!-- Imagens -->
          <div class="carousel-inner h-100">
            <div *ngFor="let imagePath of product.images; index as i" class="carousel-item h-100" [class.active]="i === 0">
              <img [src]="imagePath" [alt]="product.name" class="img-slide">
            </div>
          </div>

          <!-- Voltar e passar -->
          <a class="carousel-control-prev" data-bs-target="#carouselProducts" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#carouselProducts" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
          </a>

        </div>
      </div>

    </div>
  </div>
</div>

