.filter {
  display: flex;

  .filter-item {
    margin-right: 1rem;
  }

  .filter-link {
    padding: .5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .2s;

    &::after {
      content: '';
      display: block;
      position: absolute; bottom: 0; left: 0;
      width: 0;
      height: 2px;
      background-color: var(--bs-primary);
      transition: .2s;
    }

    &:hover:not(.active)::after { width: 50%; }

    &.active {
      color: var(--bs-primary);
      font-weight: bold;
      &::after { width: 100%; }
    }
  }
}

