<div class="row gy-3 gy-md-4">

  <div class="col-12 col-md-10 col-xxl-8">
    <header class="p-3 p-md-4 border border-primary rounded">
      <h1 class="text-primary">Galeria de imagens</h1>
      <div class="text-in-light">
        Todas as imagens do site serão gerenciadas aqui, tanto as fotos que serão
        exibidas na galeria quanto em outras páginas. Como as imagens serão visualizadas pelo usuário,
        escolha imagens com boa qualidade em resolução, luminosidade e escolha bem a
        finalidade para qual a imagem será utilizada.
      </div>
    </header>
  </div>

  <div class="col-12">
    <div class="p-3 p-md-4 border border-primary rounded">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
