<div class="row gy-3 gy-md-4">

  <!-- Cabeçahdo com informações da rota -->
  <div class="col-12 col-md-10 col-xxl-8">
    <header class="p-3 p-md-4 border border-primary rounded">
      <h1 class="text-primary">Informações da loja</h1>
      <div class="text-in-light">
        Gerenciamento das informações de contato da loja. Telefones, redes sociais,
        endereços etc. São essas as informações que aparecerão no rodapé do site e na página de contato.
      </div>
    </header>
  </div>

  <!-- Componentes para editação das informações de contato -->
  <div class="col-12">
    <div class="p-3 p-md-4 border border-primary rounded">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
