@import "../../../../styles/own-variables";

#home-top {
  padding-top: 48px;
  padding-bottom: 144px;

  .content {
    strong {
      font-size: clamp(28px, 5.2vw, 44px);
      line-height: 1.2;
    }
  }

  background-image: url('../../../../assets/images/bg-top.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 110% 105%;

  @media (min-width: $bp-xs) {
    padding-top: 96px;
    padding-bottom: 192px;
  }

  @media (min-width: $bp-sm) {
    background-size: 50%;
  }

  @media (min-width: $bp-md) {
    padding-top: 192px;
  }

  @media (min-width: $bp-xxl) {
    background-position: 100% 100%;
    background-size: 40%;
  }
}
