@import "../../../../styles/own-variables";

#s-top {

  @media (min-width: $bp-md) {
    background-image: url('../../../../assets/images/bg-top.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right bottom;
  }

  .content strong {
    font-size: clamp(32px, 5.2vw, 48px);
    line-height: 1.2;
  }
}
