<section id="s-top" class="bg-light py-8 py-md-9">
  <div class="container">
    <div class="row">

      <!-- Conteúdo e um espaçamento a mais em baixo -->
      <div class="col-12 col-md-10 col-lg-8 col-xl-6   content pb-md-8">
        <div class="mb-5 mb-md-6">
          <strong>{{ sBanner?.title }}</strong>
          <p class="text-in-light">{{ sBanner?.content }}</p>
        </div>
        <a routerLink="/produtos" class="btn btn-primary rounded-pill text-white  fs-4 fs-md-3 py-2 px-5  py-md-3 px-md-6">
          Produtos
        </a>
      </div>

    </div>
  </div>
</section>
