<div [formGroup]="formGroup!">
  <label [for]="name" class="form-label">{{ label }} <span *ngIf="!required">(Opcional):</span></label>
  <textarea
    class="form-control"
    [id]="name"
    [placeholder]="placeholder"
    [autofocus]="autofocus"
    [readonly]="readonly"
    [formControlName]="name"
    [rows]="rows"
    [cols]="cols"
  ></textarea>
  <app-control-error-msg [control]="formControl" [controlLabel]="label"></app-control-error-msg>
  <small *ngIf="formText" class="form-text d-block">{{ formText }}</small>
</div>
