<section id="products-links" class="py-6 py-md-7 py-lg-8">
  <div class="container">

    <header class="section-header">
      <div class="section-title">{{ sProducts?.subtitle }}</div>
      <h1>{{ sProducts?.title }}</h1>
    </header>

    <!-- Produtos oferecidos pela loja em categorias -->
    <div class="row justify-content-between gy-5">
      <a *ngFor="let product of sProducts?.products" class="col-auto text-center  product" routerLink="/produtos">
        <img [src]="product.image" [alt]="product.category" class="product-img rounded-pill">
        <h2 class="mt-4 mt-md-5">{{ product.category }}</h2>
      </a>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <a routerLink="/produtos" class="btn btn-primary rounded-pill">Ver mais</a>
    </div>

  </div>
</section>
