<app-store-information-base
  (addControl)="onAdd()"
  [title]="title"
  [infoText]="infoText"
  [isDisabledAddButton]="controlsOfEmails.length >= maxControls"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Renderizando os campos do formulário -->
    <div class="row justify-content-center mb-3 mb-md-4" *ngFor="let email of controlsOfEmails; index as i">
      <!-- O campo de email -->
      <div class="col">
        <input class="form-control" [id]="i" [formControl]="email">
        <app-control-error-msg [control]="email" [controlLabel]="'E-mail'"></app-control-error-msg>
      </div>

      <!-- Remover campo. Visivel somentes se houver mais de um campo -->
      <div class="col-auto" *ngIf="controlsOfEmails.length > 1">
        <button type="button" class="btn btn-outline-danger p-2" title="Remover" (click)="onRemove(i)">
          <span class="material-icons d-block">delete</span>
        </button>
      </div>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary rounded-pill">
      Salvar alterações
    </button>
  </form>

</app-store-information-base>

<ng-template #noControls>
  <div class="alert alert-info">Nenhum email</div>
</ng-template>
