<nav class="navbar navbar-expand-lg border-bottom border-primary">
  <div class="container align-items-center">

    <a routerLink="/" class="navbar-brand">
      <img src="../../../../assets/svg/brand-in-white.svg" alt="Floricultura Divino Charme">
    </a>

    <button
      class="navbar-toggler fs-3"
      type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarLinks"
      aria-controls="navbarLinks"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="material-icons vertical-align-middle">menu</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav ms-auto d-flex flex-column align-items-center flex-lg-row align-items-start">
        <li class="nav-item mb-3 mb-md-4 mb-lg-0 me-lg-6">
          <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>
        <li class="nav-item mb-3 mb-md-4 mb-lg-0 me-lg-6">
          <a class="nav-link" routerLinkActive="active" routerLink="/galeria">Galeria</a>
        </li>
        <!-- Espaçamento entre botões será diferente -->
        <li class="nav-item mb-2 mb-md-3 mb-lg-0 me-lg-3">
          <a class="nav-link" routerLinkActive="active" routerLink="/sobre">Sobre</a>
        </li>
        <li class="nav-item mb-2 mb-md-3 mb-lg-0 me-lg-3">
          <a class="btn btn-outline-primary rounded-pill" routerLink="/contato">
            Contato
          </a>
        </li>
        <!-- O ultimo link não precisa de espaçamento -->
        <li class="nav-item">
          <a class="btn btn-primary rounded-pill" routerLink="/produtos">
            Produtos
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
