<!-- back -->
<header class="mb-3 mb-4">
  <a routerLink=".." class="text-decoration-none fs-2 link-dark  d-block mb-3">
    <span class="material-icons">arrow_back_ios</span>
  </a>
</header>

<form class="row gy-3 gy-md4" [formGroup]="formAddPhoto" (ngSubmit)="onSubmit()">
  <div class="col-12 col-xl-6">

    <!-- Choosing photo (HIDDEN) -->
    <input
      type="file"
      accept="image/*"
      id="photo"
      class="visually-hidden"
      required
      aria-required="true"
      #photo
      (change)="setUploadPhotoAndPreview(photo.files)"
    />

    <!-- Label for choose photo -->
    <div class="mb-3">
      <label for="photo" class="btn btn-primary d-flex justify-content-center">
        Escolha uma imagem <span class="material-icons ms-2">create_new_folder</span>
      </label>
    </div>

    <!-- Photo name -->
    <div class="mb-3">
      <label for="name" class="form-label">Nome da foto:</label>
      <input type="text" class="form-control" formControlName="name" id="name">
      <app-control-error-msg [control]="controlName" [controlLabel]="'Nome da foto'"></app-control-error-msg>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="belongsToGallery" formControlName="belongsToGallery">
      <label class="form-check-label" for="belongsToGallery">
        Imagem pertence a galeria?
      </label>
    </div>

    <small class="text-info">
      Imagens que não pertencem a galeria poderão ser utilizadas em outras partes do site, ou simplesmente
      poderão ficar armazenadas no banco de dados para serem utilizadas depois.
    </small>
  </div>

  <!-- Image Preview -->
  <div class="col-12 col-xl-6 d-flex flex-column">
    <div class="img-preview-wrapper">
      <img [src]="photoPreview" alt="" *ngIf="photoPreview" class="img-preview">
      <label for="photo" class="null-photo-preview" *ngIf="!photoPreview">
        Insira uma imagem
      </label>
    </div>
  </div>

  <!-- actions -->
  <div class="col-12 border-top py-4 justify-content-end">
    <a type="button" class="btn btn-outline-primary me-3 me-md-4" routerLink="..">Cancelar</a>
    <button type="submit" class="btn btn-primary" [disabled]="!uploadPhoto">Concluir altarações</button>
  </div>

</form>

