<div class="breadcrumb my-4 my-md-5 my-lg-6">
  <div class="container">
    <!-- 16px de espaçament entre os ícones e o link -->
    <div class="row gx-3">

      <!-- Rota para o inicio - Padrão em todos os breadcrumbs. Na home não haverá um breadcrumb -->
      <div class="col-auto">
        <a routerLink="/">Inicio</a>
      </div>

      <div class="col-auto" *ngFor="let link of links">
        <div class="row gx-3">
          <div class="col-auto">
            <span class="material-icons">keyboard_arrow_right</span>
          </div>
          <div class="col-auto">
            <!-- Se não for passado vai ser condiderado como link ativo. -->
            <a *ngIf="link.url" [routerLink]="link.url">{{ link.label }}</a>
            <a *ngIf="!link.url" class="active">{{ link.label }}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
