<!-- Os objetos passados deverão conter as mesma propriedades -->
<app-breadcrumb [links]="[{label: 'Galeria'}]"></app-breadcrumb>

<app-scroll-top></app-scroll-top>

<section id="s-gallery" class="section">

  <div class="container">
    <div class="row">
      <header class="col-12 col-md-10 col-lg-8 mb-4 mb-md-5">
        <h1>{{ pageGallery.title }}</h1>
        <p class="text-in-light">{{ pageGallery.content }}</p>
        <small class="d-block text-primary">{{ pageGallery.info }}</small>
      </header>
    </div>
  </div>

  <!-- As imagens da galeria -->
  <div class="container-fluid" *ngIf="galleryImages as images; else noImages">
    <app-infinite-scroll (isIntersecting)="onIntersecting()">
      <app-gallery-images [galleryImages]="images"></app-gallery-images>
    </app-infinite-scroll>
  </div>

  <!-- Caso não haja imagens -->
  <ng-template #noImages>
    <div class="container">
      <div class="alert alert-info">No momento não há imagens na galeria!</div>
    </div>
  </ng-template>

</section>


