<app-store-information-base
  (addControl)="onAdd()"
  [title]="title"
  [infoText]="infoText"
  [isDisabledAddButton]="controlLocations.length >= maxControls"
>
  <form [formGroup]="formLocations" (ngSubmit)="onSubmit()">

    <!-- Renderizando os campos do formulário -->
    <div class="row mb-3 mb-md-4" *ngFor="let location of groupOfLocations; index as i">
      <div class="col-12" [formGroup]="location">

        <fieldset class="p-3 p-md-4 border rounded position-relative">
          <div class="row">
            <!-- Estado -->
            <div class="col-12 col-sm-4 mb-3 mb-md-4">
              <label class="form-label" [for]="'uf' + i">Estado</label>
              <input class="form-control" [id]="'uf' + i" formControlName="uf">
              <app-control-error-msg [control]="getControlUf(i)"  [controlLabel]="'Estado'"></app-control-error-msg>
            </div>

            <!-- Cidade -->
            <div class="col-12 col-sm-8 mb-3 mb-md-4">
              <label class="form-label" [for]="'city' + i">Cidade</label>
              <input class="form-control" [id]="'city' + i" formControlName="city">
              <app-control-error-msg [control]="getControlCity(i)" [controlLabel]="'Cidade'"></app-control-error-msg>
            </div>
          </div>

          <!-- Endereço -->
          <div class="mb-3 mb-md-4">
            <label class="form-label" [for]="'address' + i">Endereço</label>
            <input class="form-control" [id]="'address' + i" formControlName="address">
            <app-control-error-msg [control]="getControlAddress(i)" [controlLabel]="'Endereço'"></app-control-error-msg>
          </div>

          <div class="row">
            <!-- Latitude -->
            <div class="col-12 col-sm-6 mb-3 mb-md-4">
              <label class="form-label" [for]="'lat' + i">Latitude</label>
              <input class="form-control" [id]="'lat' + i" formControlName="lat">
              <app-control-error-msg [control]="getControlLat(i)" [controlLabel]="'Latitude'"></app-control-error-msg>
            </div>

            <!-- Longitude -->
            <div class="col-12 col-sm-6 mb-3 mb-md-4">
              <label class="form-label" [for]="'lng' + i">Longitude</label>
              <input class="form-control" [id]="'lng' + i" formControlName="lng">
              <app-control-error-msg [control]="getControlLng(i)" [controlLabel]="'Longitude'"></app-control-error-msg>
            </div>
          </div>

          <!-- Botão de remover -->
          <button
            type="button"
            class="ms-auto d-block btn btn-outline-danger p-2"
            title="Remover"
            (click)="onRemove(i)"
            [disabled]="controlLocations.length <= 1"
          >
            <span class="material-icons d-block">delete</span>
          </button>
        </fieldset>

      </div>
    </div>

    <div class="row g-3">
      <!-- Submit -->
      <div class="col-auto">
        <button type="submit" class="btn btn-primary rounded-pill">
          Salvar alterações
        </button>
      </div>
      <!-- cancel -->
      <div class="col-auto">
        <button type="button" class="btn btn-outline-primary rounded-pill" routerLink="..">
          Cancelar
        </button>
      </div>
    </div>
  </form>

</app-store-information-base>

<ng-template #noControls>
  <div class="alert alert-info">Nenhum email</div>
</ng-template>
