<app-scroll-top></app-scroll-top>
<app-breadcrumb [links]="[{ namespace: 'Contato', url: '/contato' }]"></app-breadcrumb>

<section class="form-bg py-md-8 py-xxl-9">
  <div class="container">
    <div class="row g-0 justify-content-center">

      <div class="col-12 col-lg-10 col-xxl-8 order-2 order-xxl-1">
        <form class="bg-white p-3 p-xs-4 p-md-5 p-lg-6 position-relative" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

          <!-- NOME & EMAIL -->
          <div class="row gy-5 mb-5">
            <div class="col-12 col-md-6">
              <app-control-text
                name="name"
                label="Nome"
                placeholder="Ex. Joana da Silva Costa"
                formText="Informe o seu nome completo."
                [autofocus]="true"
                [formGroup]="contactForm"
              ></app-control-text>
            </div>
            <div class="col-12 col-md-6">
              <app-control-text
                type="email"
                name="email"
                label="E-mail"
                placeholder="Ex. joana@email.com"
                formText="Informe o seu melhor E-mail."
                [formGroup]="contactForm"
              ></app-control-text>
            </div>
          </div>

          <!-- TELEFONE & ASSUNTO -->
          <div class="row gy-5 mb-5">
            <div class="col-12 col-md-6">
              <app-control-text
                type="tel"
                name="phone"
                label="Telefone / Celular"
                placeholder="Ex. joana@email.com"
                [required]="false"
                formText="Utilizaremos o seu número para aumentar a eficiência na comunicação."
                [formGroup]="contactForm"
              ></app-control-text>
            </div>
            <div class="col-12 col-md-6">
              <app-control-text
                name="subject"
                label="Assunto"
                placeholder="Ex. joana@email.com"
                formText="Sobre o que quer falar?"
                [formGroup]="contactForm"
              ></app-control-text>
            </div>
          </div>

          <div class="mb-5">
            <!-- Mensagem -->
            <app-control-textarea
              name="message"
              rows="5"
              label="Mensagem"
              placeholder="Digite sua mensagem aqui..."
              formText="Sinta-se a vontade para escrever o que quizer."
              [formGroup]="contactForm"
            ></app-control-textarea>
          </div>

          <app-button type="submit" content="Enviar menssagem" icon="send"></app-button>

        </form>
      </div>

      <div class="col-12 col-lg-10 col-xxl-4 order-1 order-xxl-2">
        <article class="bg-primary text-white h-100 p-3 p-xs-4 p-md-5 p-lg-6">
          <div *ngIf="storeInformation; else loadingStoreInformations">
            <header>
              <h2>Entre em contato</h2>
              <p>Tire dúvidas, nos dê feedback, solicite orçamentos ou qualquer outra coisa que queira falar. Responderemos dentro de 24h.</p>
            </header>
            <address class="my-5 my-lg-6">

              <div class="row gy-3 gy-sm-4 gy-md-5">
                <!-- EMAILS -->
                <div class="col-12 col-md-6 col-xxl-12 d-flex">
                  <div class="material-icons me-2">mail</div>
                  <div>
                    <div *ngFor="let email of storeInformation.emails" class="mb-1">{{ email }}</div>
                  </div>
                </div>
                <!-- TELEFONES -->
                <div class="col-12 col-md-6 col-xxl-12 d-flex">
                  <div class="material-icons me-2">phone</div>
                  <div>
                    <div *ngFor="let phone of storeInformation.phones" class="mb-1">{{ phone }}</div>
                  </div>
                </div>
                <!-- ENDEREÇOS -->
                <div *ngFor="let location of storeInformation.locations" class="col-12 col-md-6 col-xxl-12 d-flex">
                  <div class="material-icons me-2">room</div>
                  <div>
                    <div class="mb-1">{{ location.city }} - {{ location.uf }}</div>
                    <div class="mb-1">{{ location.address }}</div>
                  </div>
                </div>
              </div>
            </address>
            <nav class="d-flex">
              <a [href]="storeInformation!.social.instagram.url" target="_blank" class="material-icons text-white me-5">
                <svg width="48" height="48"><use xlink:href="#i-instagram"/></svg>
              </a>
              <!-- TODO - Configurar API do Whatsapp -->
              <a
                href="https://api.whatsapp.com/send?phone=5577991476770"
                target="_blank"
                class="material-icons text-white"
              >
                <svg width="48" height="48"><use xlink:href="#i-whatsapp"/></svg>
              </a>
            </nav>
          </div>
        </article>
      </div>

    </div>
  </div>
</section>

<!-- Mapas -->
<section class="py-6 py-md-7 py-xl-8">
  <div *ngIf="storeInformation?.locations; else loadingMaps" class="container-fluid">

    <header class="section-header">
      <div class="section-title">Localização</div>
      <h1>Venha nos fazer uma visita!</h1>
    </header>

    <div class="row gy-5">
      <div *ngFor="let location of storeInformation!.locations" class="col-12 col-lg-6 d-flex flex-column align-items-center">
        <figure class="w-100 position-relative rounded border   map-container">
          <figcaption class="p-3 p-md-5 position-absolute top-0 end-0" [style.z-index]="'1100'">
            <div class="bg-white p-3" [style.box-shadow]="'0 0 16px rgba(0, 0, 0, .15)'">
              {{ location.city }} - {{ location.uf }}
            </div>
          </figcaption>
          <app-map [mapLat]="location.lat" [mapLng]="location.lng"></app-map>
        </figure>
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary mt-3 d-flex aling-items-center rounded-pill"
          href='https://www.google.com/maps/dir/?api=1&destination={{ location.lat }},{{ location.lng }}'
        >Ver rotas no Google Maps <span class="material-icons ms-2">map</span></a>
      </div>
    </div>

  </div>
</section>

<ng-template #loadingStoreInformations>
  Carregando informações da loja ...
</ng-template>

<ng-template #loadingMaps>
  Carregando mapa ...
</ng-template>
