@import "../../../styles/own-variables";

.form-bg {
  @media (min-width: $bp-md) {
    background-image: url('../../../assets/images/nevoeiro.jpg');
    background-size: cover;
    background-position: center;

    form {
      box-shadow: 0 0 16px rgba(0, 0, 0, .24);
    }
  }
}

.map-container {
  padding-top: 80%;
}
