@import "../../../../styles/own-variables";

#s-benefits {

  position: relative;

  .plant-decoration {
    position: absolute;
    transform: rotate(15deg);
    display: none;

    @media (min-width: $bp-lg) {
      display: block;
      width: 180px;
      top: 40px; left: -40px;
    }

    @media (min-width: 1600px) {
      width: 300px;
      left: -80px; top: 80px;
    }
  }

  // Limitar o tamanho do card e adicionar um efeito de hover nas bordas
  .benefit-card { max-width: 400px; }
  .benefit-card > div { transition: .2s; }
  .benefit-card > div:hover { border-color: $color-primary !important; }

  .card-img {
    height: 150px;
    display: block;
    margin: 0 auto;
  }

}
