@import "../../../../styles/own-variables";

#s-benefits {

  // Limitar o tamanho do card e adicionar um efeito de hover nas bordas

  .benefit-card { max-width: 368px; }
  .benefit-card > div { transition: .2s; }
  .benefit-card > div:hover { border-color: $color-primary !important; }

  svg, img {
    height: 150px;
    display: block;
    margin: 0 auto;
  }

}
