<section id="products-preview" class="py-6 py-md-7 py-lg-8">

  <img class="plant-decoration" src="assets/svg/plant02.svg" alt="Planta Enfeite">

  <div class="container">

    <header class="section-header">
      <div class="section-title">{{ sFeaturedProducts?.subtitle }}</div>
      <h1>{{ sFeaturedProducts?.title }}</h1>
    </header>

    <div class="row justify-content-center gy-5">

      <!-- Os produtos em destaque -->
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of sFeaturedProducts?.products">
        <a class="product-card" [routerLink]="['/produtos', product.name]">
          <img class="product-img" [src]="product.images[0]" [alt]="product.name">
          <h2 class="product-name">{{ product.name | camelCase }}</h2>
        </a>
      </div>

    </div>

    <div class="d-flex justify-content-center mt-5">
      <a routerLink="/produtos" class="btn btn-primary rounded-pill">Todos os ítens</a>
    </div>

  </div>
</section>
