<section id="s-gallery-preview" class="py-6 py-md-7 py-lg-8">
  <div class="container-fluid">

    <header class="section-header">
      <div class="section-title">{{ sGallery?.subtitle }}</div>
      <h1>{{ sGallery?.title }}</h1>
    </header>

    <app-gallery-images [galleryImages]="sGallery?.images"></app-gallery-images>

    <div class="d-flex justify-content-center mt-5">
      <a routerLink="/galeria" class="btn btn-primary rounded-pill">Galeria completa</a>
    </div>

  </div>
</section>

