@import "../../../../styles/own-variables";

#s-gallery-preview {

  position: relative;

  .plant-decoration-1 {
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: none;

    @media (min-width: $bp-sm) {
      display: block;
      width: 112px;
      top: -50px; right: 0;
    }

    @media (min-width: $bp-md) {
      width: 150px;
    }

    @media (min-width: $bp-lg) {
      width: 200px;
    }

    @media (min-width: $bp-xl) {
      width: 250px;
    }

    @media (min-width: $bp-xxl) {
      width: 300px;
      top: -140px;
    }
  }

  .plant-decoration-2 {
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: none;

    @media (min-width: $bp-sm) {
      display: block;
      width: 90px;
      top: 0; right: -20px;
    }

    @media (min-width: $bp-md) {
      width: 120px;
    }

    @media (min-width: $bp-lg) {
      width: 160px;
      top: 20px;
    }

    @media (min-width: $bp-xl) {
      width: 200px;
      top: 40px;
    }

    @media (min-width: $bp-xxl) {
      width: 250px;
      top: -20px;
    }
  }


  .plant-decoration-3 {
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: none;

    @media (min-width: $bp-sm) {
      display: block;
      width: 140px;
      bottom: -40px; left: -40px;
    }

    @media (min-width: $bp-md) {
      width: 180px;
    }

    @media (min-width: $bp-xl) {
      width: 220px;
      bottom: -60px; left: -60px;
    }
  }
}
