<nav class="navbar navbar-expand-lg border-bottom border-primary">
  <div class="container align-items-center">

    <a routerLink="/" class="navbar-brand">
      <img height="48px" width="48px" src="../../../../assets/svg/brand-in-white.svg" alt="Logo Floricultura Divino Charme">
    </a>

    <ul class="navbar-nav mx-auto d-flex align-items-center">
      <li class="nav-item me-6">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['catalogo']">Catálogo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Galeria</a>
      </li>
    </ul>

    <button class="btn">
      Sair
    </button>
  </div>
</nav>
