@import "../../../styles/own-variables";

.plant-decoration-1 {
  position: absolute;
  transform: rotate(15deg);
  display: none;

  @media (min-width: $bp-md) {
    display: block;
    width: 100px;
    top: 50px; left: -20px;
  }

  @media (min-width: $bp-lg) {
    width: 140px;
    top: 80px;
  }

  @media (min-width: $bp-xl) {
    width: 180px;
  }

  @media (min-width: $bp-xxl) {
    width: 220px;
  }
}

.plant-decoration-2 {
  position: absolute;
  transform: matrix(-0.73, 0.69, 0.69, 0.73, 0, 0);
  display: none;

  @media (min-width: $bp-md) {
    display: block;
    width: 140px;
    top: 200px; right: -70px;
  }

  @media (min-width: $bp-lg) {
    width: 200px;
    right: -90px;
    top: 200px;
  }

  @media (min-width: $bp-xxl) {
    width: 290px;
  }
}

.plant-decoration-3 {
  position: absolute;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  display: none;

  @media (min-width: $bp-md) {
    display: block;
    width: 140px;
    bottom: -40px; left: -40px;
  }

  @media (min-width: $bp-xl) {
    width: 200px;
    bottom: -60px; left: -60px;
  }
}
