<nav class="pt-3 pt-md-4 pt-xl-5">
  <!-- Os menus serão posicionados absolutamente em relação ao container abaixo -->
  <div class="container position-relative">
    <div class="row gy-3">

      <!-- Search bar -->
      <div class="col-12 col-xl-6">
        <form class="d-flex">
          <input type="text" class="form-control rounded-0" placeholder="Olá, o que você procura?">
          <button type="submit" class="btn btn-primary d-flex align-items-center rounded-0">
            <span class="d-none d-sm-inline me-3">Buscar</span><span class="material-icons">search</span>
          </button>
        </form>
      </div>

      <div class="col-12 col-xl-6">
        <div class="row gy-3">

          <!-- Button filter -->
          <div class="col-12 col-sm-6 col-xl-auto order-1 order-xl-2">
            <button type="button" class="btn btn-outline-primary d-flex rounded-0">
              <span class="fw-normal me-1">Filtrar por:</span><strong>Preço</strong>
            </button>
          </div>

          <!-- Links -->
          <div class="col-12 col-sm-6 col-xl-auto  mx-xl-auto  order-2 order-xl-1 d-flex">
            <ul class="p-0 d-flex mb-0 ms-sm-auto">
              <li class="me-5 d-flex align-items-center" (mouseenter)="openPlantsMenu()" (mouseleave)="closeMenu()">
                <a class="custom-nav-link">Plantas</a>
                <ng-template #plantsMenuTarget appMenuLinks></ng-template>
              </li>
              <li class="me-5 d-flex align-items-center" (mouseenter)="openPotsMenu()" (mouseleave)="closeMenu()">
                <a class="custom-nav-link">Caqueiros</a>
                <ng-template #potsMenuTarget appMenuLinks></ng-template>
              </li>
              <li class="d-flex align-items-center" (mouseenter)="openFertilizersMenu()" (mouseleave)="closeMenu()">
                <a class="custom-nav-link">Adubos</a>
                <ng-template #fertilizersMenuTarget appMenuLinks></ng-template>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>

  </div>
</nav>


