<nav class="py-3 py-md-4 py-xl-5">
  <div class="container">
    <div class="row gy-3">

      <!-- Search bar -->
      <div class="col-12 col-xl-6">
        <form class="d-flex">
          <input type="text" class="form-control rounded-0" placeholder="O que você procura?">
          <button type="submit" class="btn btn-primary d-flex align-items-center rounded-0">
            <span class="d-none d-sm-inline me-3">Buscar</span><span class="material-icons">search</span>
          </button>
        </form>
      </div>

      <div class="col-12 col-xl-6">
        <div class="row gy-3">

          <!-- Button filter -->
          <div class="col-12 col-sm-6 col-xl-auto order-1 order-xl-2">
            <button type="button" class="btn btn-outline-primary d-flex rounded-0">
              <span class="fw-normal me-1">Filtrar por:</span><strong>Preço</strong>
            </button>
          </div>

          <!-- Links -->
          <div class="col-12 col-sm-6 col-xl-auto  mx-xl-auto  order-2 order-xl-1 d-flex">
            <ul class="p-0 d-flex my-auto ms-auto">
              <li class="me-5">
                <a class="custom-nav-link" routerLink="/">Plantas</a>
              </li>
              <li class="me-5">
                <a class="custom-nav-link" routerLink="/">Caqueiros</a>
              </li>
              <li>
                <a class="custom-nav-link" routerLink="/">Adubos</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</nav>
