<article class="product-card h-100 bg-light rounded border p-3 p-lg-5" *ngIf="product">
  <img [src]="product ? product.images[0].path : 'teste'" [alt]="product?.name">

  <!-- Value and name -->
  <section class="py-3 py-xl-5 text-center">
    <h4 class="m-0 text-in-light">{{ product?.name }}</h4>
    <h2 class="m-0">{{ product?.price | currency:'BRL':true }}</h2>
  </section>

  <!-- Buttons -->
  <div class="row justify-content-center g-3">
    <div class="col-auto">
      <app-link-button
        [content]="'Visualizar'"
        [size]="'sm'"
        [outline]="true"
      ></app-link-button>
    </div>
    <div class="col-auto">
      <app-link-button
        [content]="'Editar'"
        [size]="'sm'"
      ></app-link-button>
    </div>
  </div>
</article>
