@import "../../../styles/own-variables";

.navbar-admin {

  min-width: 300px;

  .brand {
    width: 96px;
    height: 96px;
  }

  .navbar-admin-nav{
    min-width: 230px;
  }

  .nav-link {
    color: white;
    // un-active states
    opacity: .5;
    transition: .2s;

    &::before {
      content: '';
      display: block;
      width: 0px;
      height: 100%;
      background-color: white;
      transition: .2s;
    }

    &:hover {
      opacity: 1;
    }

    // active state
    &.active {
      font-weight: bold;
      opacity: 1;

      &::before { width: 4px; margin-right: 1rem; }
    }
  }
}

.navbar-admin-mobile {

  drag-scroll {
    height: 96px;

    .drag-scroll-content {
      padding-right: 20px;
      min-height: calc(100% + 20px);
    }
  } // Com isso já esconde a barra de scroll


  .brand {
    width: 96px;
    height: 96px;
    // setado display inline pelo drag scroll, então remover o vertical align do reboot.scss
    vertical-align: top;
  }

  .navigation-link {
    // Não pode ser display flex pois o drag scroll vai setar para inline-block
    text-decoration: none;
    flex-direction: column;
    color: white;
    border-radius: .5rem;
    background-color: lighten($color: $color-primary, $amount: 5%);
    opacity: .3;
    padding: 1rem;
    margin-right: 1rem;
    user-select: none;
    border: 1px solid white;
    transition: .2s;

    .material-icons {
      font-size: 2rem;
      display: block;
      margin-bottom: .5rem;
    }

    &:hover {
      background-color: darken($color: $color-primary, $amount: 2%);
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }
}
